.banner {
  &-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  &-image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-video {
    width: 100%;
    height: 100%;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
