.banner {
  &-container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @media (max-width: 991px) {
      height: 50vh;
    }
    @media (max-width: 767px) {
      height: 275px;
    }
  }
  &-image {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-video {
    width: 100%;
    height: 100%;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
