.form-search-bar {
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 18;
  background-color: var(--color-sec-1);
  max-width: 845px;
  width: 100%;
  border-radius: 24px;
  padding-left: 12px;

  //   padding: 12px 20px;
  form {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 150px;
    gap: 32px;
  }
  .form-item {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }
  .dropdown-custom-menu {
    position: absolute;
    top: 100%;
    left: -16px;
    width: calc(100% + 16px);
    background-color: var(--color-black);
    padding: 10px 16px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    &.dropdown--active {
      opacity: 1;
      visibility: visible;
    }
  }
  .field-suggestion {
    position: relative;
    input {
      border: none;
      outline: none;
      font-size: 15px;
      line-height: 24px;
      color: var(--color-white);
      &::placeholder {
        font-size: 15px;
        line-height: 24px;
        color: var(--color-white);
      }
    }
  }
  .field-suggestion__list {
    position: absolute;
    top: 100%;
    width: calc(100% + 16px);
    left: -16px;
    background-color: var(--color-black);
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
    padding: 10px 16px;
    transition: all 0.3s ease;
    opacity: 1;
    visibility: visible;
    &.hidden {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
    }
    li {
      color: var(--color-white);
    }
  }
  .dropdown-custom-text {
    font-size: 15px;
    line-height: 24px;
    color: var(--color-white);
  }
  .dropdown-custom-select {
    width: 100%;
  }
  .dropdown-custom-btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    .ic {
      position: absolute;
      right: 0;
    }
  }
  button {
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    padding: 16px 0;
    border-radius: 24px;
  }
}

.result-form.other-position {
  margin-top: 0;
  &-title {
    margin-bottom: 24px;
  }
}
.detail-cv {
  padding-top: 130px;
  margin-bottom: 96px;
  @media (max-width: 991px) {
    padding-top: 104px;
    margin-bottom: 64px;
  }
  &-title {
    @media (max-width: 991px) {
      padding: 0 20px;
    }
  }
  &-date {
    margin-top: 24px;
    margin-bottom: 96px;
    @media (max-width: 991px) {
      margin-bottom: 64px;
      padding: 0 20px;
    }
    ul {
      display: flex;
      align-items: center;
      gap: 40px;
      @media (max-width: 991px) {
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
      }
      li {
        .date-item {
          display: flex;
          align-items: center;
          gap: 24px;
        }
      }
    }
  }
  &-info {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 40px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 64px;
    }
  }
  .col-item {
    h3 {
      margin-bottom: 32px;
    }
  }
  .info-box {
    .heading {
      margin-bottom: 24px;
    }
    &.social {
      display: flex;
      align-items: center;
      gap: 12px;
      ul {
        display: flex;
        list-style-type: none;
        gap: 16px;
        align-items: center;
        padding-left: 0;
      }
    }
    ul {
      list-style-type: disc;
      padding-left: 22px;
      color: #fff;
      li {
        p {
          color: #fff;
          font-size: 15px;
          line-height: 24px;
        }
      }
    }
  }
  .info-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media (max-width: 991px) {
      gap: 24px;
    }
  }
  .col-info {
    padding-right: calc(calc(1 / 12) * 100% + 30px);
    @media (max-width: 991px) {
      padding: 0 20px;
    }
  }
  .col-form {
    position: sticky;
    top: 0;
    height: max-content;
    @media (max-width: 991px) {
      position: static;
      h3 {
        padding: 0 20px;
      }
    }
  }
  .form-cv {
    background-color: var(--color-sec-1);
    padding: 40px;
    @media (max-width: 991px) {
      padding: 40px 20px;
    }
    .form-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .form-row {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        &.up-file {
          width: 100%;
          position: relative;
          .icon {
            position: absolute;
            right: 12px;
            bottom: 12px;
          }
          input {
            outline: none;
            border: none;
            box-shadow: none;
            background-color: #fff;
            font-size: 15px;
            line-height: 24px;
            padding: 9px 16px;
            height: 42px;
            text-indent: -9999px;
          }
        }
        input {
          outline: none;
          border: none;
          box-shadow: none;
          background-color: #fff;
          font-size: 15px;
          line-height: 24px;
          padding: 9px 16px;
        }
        textarea {
          outline: none;
          border: none;
          box-shadow: none;
          background-color: #fff;
          font-size: 15px;
          line-height: 24px;
          padding: 9px 16px;
          resize: none;
        }
      }
    }
    button {
      margin-top: 30px;
      width: 100%;
      height: 42px;
      background-color: var(--color-black);
      transition: all 0.3s ease;
      &:hover {
        background-color: var(--color-black-op);
      }
    }
  }
}
