.event {
  background-color: var(--color-black-op);
  padding: 96px 0;
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  &-title {
    margin-bottom: 32px;
  }
  &-image {
    width: 100%;
    aspect-ratio: 580 / 620;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-box {
    position: relative;
  }
  &-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    background-color: rgba(21, 21, 21, 0.95);
  }
  &-description {
    margin-bottom: 32px;
  }
  &-btn-group {
    display: flex;
    align-items: center;
    gap: 16px;
    .read-more {
      background-color: var(--color-black-op);
    }
  }
}
