.event {
  background-color: var(--color-black-op);
  padding: 96px 0;
  @media (max-width: 991px) {
    padding: 64px 0;
  }
  &-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
  &-title {
    margin-bottom: 32px;
    @media (max-width: 991px) {
      margin-bottom: 24px;
    }
  }
  &-image {
    width: 100%;
    aspect-ratio: 580 / 620;
    @media (max-width: 991px) {
      aspect-ratio: 335 / 380;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-box {
    position: relative;
  }
  &-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 40px;
    background-color: rgba(21, 21, 21, 0.95);
    @media (max-width: 991px) {
      padding: 20px;
    }
  }
  &-description {
    margin-bottom: 32px;
    @media (max-width: 991px) {
      margin-bottom: 20px;
    }
  }
  &-btn-group {
    display: flex;
    align-items: center;
    gap: 16px;
    .read-more {
      background-color: var(--color-black-op);
      &:hover {
        background-color: var(--color-sec-1);
      }
    }
    .book-now {
      &:hover {
        background-color: var(--color-black-op) !important;
        color: #fff;
      }
    }
  }
}
