.footer {
  &-container {
    padding-bottom: 24px;
    padding-top: 96px;
    @media (max-width: 991px) {
      padding-top: 64px;
      padding-bottom: 16px;
    }
  }
  &-top {
    margin-bottom: 40px;
  }
  &-main {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 40px 30px;

    @media (max-width: 991px) {
      grid-template-columns: 1fr;
      gap: 0;
    }
    &-text,
    &-content {
      display: inline;
    }
    &-title {
      margin-bottom: 4px;
    }
    &-list {
      ul {
        display: flex;
        flex-direction: column;
        gap: 4px;
        li {
          & > * {
            // display: flex;
            // gap: 4px;
          }
        }
      }
    }
    &-left,
    &-right {
      @media (max-width: 991px) {
        margin-bottom: 24px;
      }
    }
  }
  &-alpha {
    a {
      &::before {
        bottom: -2px;
      }
    }
  }
}
