.result-form {
  margin-top: -100px;
  position: relative;
  z-index: 2;
  @media (max-width: 991px) {
    margin-top: 0;
    .wf-mobile {
      background-color: var(--color-sec-1);
    }
  }
  &-wrap {
    .pagination {
      display: flex;
      gap: 4px;

      justify-content: center;
      background-color: var(--color-sec-1);
      padding-bottom: 40px;
      .page-number {
        width: 34px;
        height: 34px;
        background-color: var(--color-sec-1);
        transition: all 0.3s ease-in-out;
        font-size: 15px;
        line-height: 24px;
        font-weight: bold;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        &.active {
          background-color: var(--color-black-op);
        }
      }
    }
  }
  &-container {
    padding: 40px 100px;
    background-color: var(--color-sec-1);
    @media (max-width: 991px) {
      padding: 40px 20px;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
  &-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 14px;
    @media (max-width: 991px) {
      grid-template-columns: 230px 125px 125px 125px;
      width: 695px;
    }
  }
  .result-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 40px 0 24px;
    gap: 30px;
    border-bottom: 1px solid #fff;
    @media (max-width: 991px) {
      grid-template-columns: 230px 125px 125px 125px;
      width: 695px;
      padding: 24px 0 24px;
    }
    .item {
      display: flex;
      align-items: center;
      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
.other-position-title {
  margin-bottom: 24px;
}
