@media (min-width: 992px) {
  .hover-line {
    display: inline-block;
    position: relative;
    &:hover {
      &::before {
        width: 100%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 1px;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: var(--color-white);
      transition: all 0.3s ease-in-out;
    }
  }
}
.title-text-line {
  gap: 64px;
  .title-line {
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
  }
}
.btn-global {
  padding: 8px 16px;
  background-color: var(--color-black);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--color-black-op);
    color: var(--color-white);
  }
  &.btn-secondary {
    &:hover {
      color: var(--color-black);
      background-color: var(--color-black-op);
    }
  }
}
.btn-arrow {
  width: 34px;
  height: 34px;
  background-color: var(--color-black-op);
  margin: 0;
  top: 50%;
  transform: translateY(-24px);
  &::after {
    content: unset;
    font-size: 0;
  }
}
