@media (min-width: 992px) {
  .hover-line {
    display: inline-block;
    position: relative;
    &:hover,
    &.active {
      color: var(--color-white);
      &::before {
        width: 100%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 1px;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: var(--color-white);
      transition: all 0.3s ease-in-out;
    }
  }
}
.title-text-line {
  gap: 64px;
  @media (max-width: 991px) {
    gap: 40px;
  }
  .title-line {
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
  }
  .title-text {
    white-space: nowrap;
    font-size: 56px;
    line-height: 64px;
    @media (max-width: 991px) {
      font-size: 40px;
      line-height: 56px;
    }
  }
}
.btn-global {
  padding: 8px 16px;
  background-color: var(--color-black);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--color-black-op);
    color: var(--color-white);
  }
  &.btn-secondary {
    &:hover {
      color: var(--color-black);
      background-color: var(--color-black-op);
    }
  }
}
.btn-arrow {
  width: 34px;
  height: 34px;
  background-color: var(--color-black-op);
  margin: 0;
  top: 50%;
  transform: translateY(-24px);
  @media (max-width: 991px) {
    top: unset;
    bottom: 0px;
    transform: translateY(0);
  }
  &::after {
    content: unset;
    font-size: 0;
  }
}
.dropdown-custom-select {
  position: relative;
}

button {
  &.aloading {
    pointer-events: none;
    color: transparent !important;
    background-color: var(--color-black-op) !important;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid transparent;
      border-radius: 50%;
      border-top: 2px solid var(--color-white);
      border-right: 2px solid var(--color-white);
      width: 20px;
      height: 20px;
      animation: spin-animation 1s linear infinite;
      z-index: 2;
      background: 0 0;
    }

    @keyframes spin-animation {
      0% {
        transform: translate(-50%, -50%) rotate(0);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }
}

.modal-success {
  .modal-dialog {
    width: 360px;
    height: 360px;
    @media (max-width: 767px) {
      width: 100%;
      margin: 0;
      justify-content: center;
    }
  }

  .modal-content {
    border: none;
    // border-radius: 8px;
    overflow: hidden;
    @media (max-width: 991px) {
      width: 320px;
      height: 320px;
    }
    .desc {
      margin-top: 16px;
    }
  }

  .modal-content {
    background-color: var(--color-black-op);
    border-radius: unset;
  }

  .modal-body {
    height: 360px;
    background: var(--color-black-op);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;

    .icon {
      width: 40%;
      height: auto;
      margin: 0 auto 24px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.lightpick__day.is-end-date,
.lightpick__day.is-end-date:hover,
.lightpick__day.is-start-date,
.lightpick__day.is-start-date:hover {
  background-color: var(--color-black);
  background-image: unset;
  border-radius: 50%;
}

.lightpick__close-action,
.lightpick__next-action,
.lightpick__previous-action {
  font-size: 16px;
  padding-bottom: 3px;
}
