@media (min-width: 992px) {
  .hover-line {
    display: inline-block;
    position: relative;
    &:hover {
      &::before {
        width: 100%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 1px;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: var(--color-white);
      transition: all 0.3s ease-in-out;
    }
  }
}
.title-text-line {
  gap: 64px;
  .title-line {
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
  }
}
