@media (min-width: 992px) {
  .hover-line {
    display: inline-block;
    position: relative;
    &:hover {
      color: var(--color-white);
      &::before {
        width: 100%;
      }
    }
    &::before {
      content: "";
      position: absolute;
      left: 1px;
      bottom: 0;
      width: 0%;
      height: 2px;
      background-color: var(--color-white);
      transition: all 0.3s ease-in-out;
    }
  }
}
.title-text-line {
  gap: 64px;
  @media (max-width: 991px) {
    gap: 40px;
  }
  .title-line {
    width: 100%;
    height: 2px;
    background-color: var(--color-white);
  }
  .title-text {
    white-space: nowrap;
    font-size: 56px;
    line-height: 64px;
    @media (max-width: 991px) {
      font-size: 40px;
      line-height: 56px;
    }
  }
}
.btn-global {
  padding: 8px 16px;
  background-color: var(--color-black);
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: var(--color-black-op);
    color: var(--color-white);
  }
  &.btn-secondary {
    &:hover {
      color: var(--color-black);
      background-color: var(--color-black-op);
    }
  }
}
.btn-arrow {
  width: 34px;
  height: 34px;
  background-color: var(--color-black-op);
  margin: 0;
  top: 50%;
  transform: translateY(-24px);
  @media (max-width: 991px) {
    top: unset;
    bottom: 0px;
    transform: translateY(0);
  }
  &::after {
    content: unset;
    font-size: 0;
  }
}
.dropdown-custom-select {
  position: relative;
}
