#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.header {
  &-container {
    background-color: var(--color-black-op);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 72px;
    @media (max-width: 991px) {
      height: 64px;
    }
  }
  &-hambuger {
    display: none;

    @media (max-width: 991px) {
      display: flex;
      align-items: center;
      margin-left: 15px;
    }
    .icon {
      width: 19px;
      height: 10px;
      position: relative;
      &.active {
        span {
          &:nth-child(1) {
            top: 4.5px;
            transform: rotate(135deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            top: 4.5px;
            transform: rotate(-135deg);
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        inset: -10px;
      }
      span {
        display: block;
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: var(--color-white);
        left: 0;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
        &:nth-child(1) {
          top: 0;
        }
        &:nth-child(2) {
          top: 4.5px;
        }
        &:nth-child(3) {
          top: 9px;
        }
      }
    }
  }
  &-left {
    display: flex;
    align-items: center;
    padding-left: 125px;
    @media (max-width: 991px) {
      padding-left: 0;
    }
  }
  &-logo {
    display: inline-block;
    width: 100px;
    height: auto;
    @media (max-width: 991px) {
      width: 89px;
    }
  }
  &-main {
    @media (max-width: 991px) {
      display: none;
    }
  }
  &-menu {
    ul {
      display: flex;
      align-items: center;
      gap: 32px;
      li {
        &.menu-item-has-children {
          position: relative;
          &:hover {
            .sub-menu {
              opacity: 1;
              visibility: visible;
              transform: translateY(0px);
            }
          }
          & > a {
            display: flex;
            align-items: center;
            gap: 8px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: -16px;
              width: calc(100% + 32px);
              height: 24px;
              background-color: transparent;
            }

            &.hover-line {
              &:hover {
                &::before {
                  width: calc(100% - 17px);
                }
              }
            }
          }
          & > .sub-menu {
            position: absolute;
            top: 100%;
            left: -16px;
            background-color: var(--color-sec-1);
            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            margin-top: 24px;
            transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
            opacity: 0;
            visibility: hidden;
            transform: translateY(15px);
            li {
              a {
                white-space: nowrap;
              }
            }
          }
        }
        a {
          &:hover {
            color: var(--color-white);
          }
        }
      }
    }
    &-mobile {
      display: none;
      @media (max-width: 991px) {
        display: grid;
        grid-template-columns: 8fr 4fr;
        position: fixed;
        top: 64px;
        left: 0;
        width: 100%;
        height: 100svh;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        &.active {
          opacity: 1;
          visibility: visible;
          ul {
            transform: translateX(0);
          }
        }

        ul {
          background-color: var(--color-sec-1);
          transform: translateX(-100%);
          transition: transform 0.3s ease-in-out;
          padding: 0 20px;
          display: flex;
          flex-direction: column;
          gap: 32px;
          li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            &.menu-item-has-children {
              // &.active {
              //   background-color: var(--color-black);
              //   & > .sub-menu {
              //     background-color: var(--color-black);
              //   }
              // }
              & > a {
                justify-content: space-between;
                pointer-events: none;
              }
              li {
                &:last-child {
                  border-bottom: none;
                }
              }
              .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                pointer-events: auto;
                img {
                  // transform: rotate(-90deg);
                  transition: transform 0.3s ease-in-out;
                }
              }
              & > .sub-menu {
                height: 0;
                overflow: hidden;
                transition: height 0.3s;
                display: flex;
                flex-direction: column;
                gap: 8px;
                padding-right: 0;
              }
              &.active {
                & > a {
                  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
                }
                .icon {
                  img {
                    transform: rotate(0);
                  }
                }
              }
            }
            a {
              display: flex;
              align-items: center;

              &:hover {
                color: var(--color-white);
              }
              &.active {
                // background-color: var(--color-black);
              }
            }
          }
        }
        & > ul {
          padding-top: 40px;
        }
      }
    }
  }
  &-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    @media (max-width: 991px) {
      display: none;
    }
  }
  &-cta {
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    height: 100%;
    &-item {
      gap: 5px;
      transition: all 0.3s ease-in-out;
      &.call-now {
        background-color: var(--color-sec-2);
        &:hover {
          background-color: var(--color-black-op);
        }
      }
      &.book-now {
        background-color: var(--color-sec-1);
        &:hover {
          background-color: var(--color-black);
        }
      }
    }
  }
}
#cta-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
  @media (max-width: 991px) {
    display: block;
    transition: transform 0.3s ease-in-out;
    &.hidden {
      transform: translateY(50px);
    }
  }
  .header-cta-item {
    padding: 8px 0;
  }
}
