#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
.header {
  &-container {
    background-color: var(--color-sec-1);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 72px;
  }
  &-left {
    display: flex;
    align-items: center;
    padding-left: 125px;
  }
  &-logo {
    display: inline-block;
    width: 100px;
    height: auto;
  }
  &-menu {
    ul {
      display: flex;
      align-items: center;
      gap: 32px;
      li {
        &.menu-item-has-children {
          position: relative;
          &:hover {
            .sub-menu {
              opacity: 1;
              visibility: visible;
              transform: translateY(0px);
            }
          }
          & > a {
            display: flex;
            align-items: center;
            gap: 8px;
            position: relative;

            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: -16px;
              width: calc(100% + 32px);
              height: 24px;
              background-color: transparent;
            }
            &.hover-line {
              &:hover {
                &::before {
                  width: calc(100% - 17px);
                }
              }
            }
          }
          & > .sub-menu {
            position: absolute;
            top: 100%;
            left: -16px;
            background-color: var(--color-sec-1);

            padding: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            margin-top: 24px;
            transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
            opacity: 0;
            visibility: hidden;
            transform: translateY(15px);
            li {
              a {
                white-space: nowrap;
              }
            }
          }
        }
        a {
          &:hover {
            color: var(--color-white);
          }
        }
      }
    }
  }
  &-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
  }
  &-cta {
    display: grid;
    grid-template-columns: repeat(2, minmax(130px, 1fr));
    height: 100%;
    &-item {
      gap: 5px;
      &.call-now {
        background-color: var(--color-sec-2);
      }
      &.book-now {
        background-color: var(--color-sec-1);
      }
    }
  }
}
#cta-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
  @media (max-width: 991px) {
    display: block;
  }
  .header-cta-item {
    padding: 8px 0;
  }
}
