.intro {
  margin-top: -100px;
  position: relative;
  z-index: 2;
  margin-bottom: 96px;
  &.one-column {
    .intro-content {
      padding: 64px 48px;
      @media (max-width: 991px) {
        padding: 40px 20px;
      }
    }
  }
  &.two-description {
    .intro-description {
      p {
        margin-bottom: 18px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @media (max-width: 991px) {
    margin-top: 20px;
    margin-bottom: 64px;
  }
  &-content {
    background-color: var(--color-sec-1);
    padding: 64px 48px;
    @media (max-width: 991px) {
      padding: 48px 24px 24px;
    }
    .br {
      height: 24px;
    }
  }
  &-title {
    margin-bottom: 18px;
  }
  &-image {
    width: 100%;
    aspect-ratio: 1192 / 570;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &.two-description {
    margin-top: 0;
    margin-bottom: 96px;
    @media (max-width: 991px) {
      margin-bottom: 64px;
    }
    .intro-content {
      padding: 96px 48px 30px;
      background-color: transparent;
      @media (max-width: 991px) {
        padding: 64px 0px 40px;
      }
    }
    .intro-image {
      margin-bottom: 30px;
    }
  }
  &.two-column {
    .intro-container {
      padding: 30px;
      background-color: var(--color-sec-1);
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      @media (max-width: 991px) {
        grid-template-columns: 1fr;
        padding: 20px;
      }
    }
    .intro-image {
      width: 100%;
      aspect-ratio: 550 / 440;
      @media (max-width: 991px) {
        aspect-ratio: 295 / 235;
      }
    }
    .intro-content {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .intro-button {
      margin-top: 30px;
      @media (max-width: 991px) {
        margin-top: 20px;
      }
    }
  }
}
