.menu {
  padding-top: 96px;
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 96px 30px;
  }
  &-title {
    margin-bottom: 32px;
  }
  &-image {
    overflow: hidden;
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
    img {
      transition: all 0.3s ease-in-out;
    }
  }
}
