.menu-food {
  padding-top: 168px;
  margin-bottom: 96px;
  &-title {
    margin-top: 24px;
    margin-bottom: 96px;
  }
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px 30px;
  }
  &-image {
    margin-bottom: 20px;
  }
  &-content {
    .food-name {
      margin-bottom: 4px;
    }
    .description {
      margin-bottom: 24px;
    }
  }
  &-other {
    background-color: var(--color-sec-1);
    padding: 96px 0;
    .menu-list {
      margin-top: 96px;
    }
  }
}
