.mission-vision {
  &-item {
    margin-bottom: 96px;
    &:nth-child(even) {
      .mission-box {
        padding-right: 48px;
        padding-left: calc(calc(1 / 12) * 100% + 60px);
        @media (max-width: 991px) {
          padding-left: 32px;
          padding-right: 32px;
          padding-bottom: 32px;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-image {
    .image {
      width: 100%;
      aspect-ratio: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .mission-box {
    padding-left: 48px;
    padding-right: calc(calc(1 / 12) * 100% + 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 24px;
    @media (max-width: 991px) {
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 32px;
    }
  }
}
