.mission-vision {
  &-item {
    margin-bottom: 96px;
    @media (max-width: 991px) {
      margin-bottom: 64px;
      flex-direction: column-reverse !important;
    }
    &:nth-child(even) {
      .mission-box {
        padding-right: 48px;
        padding-left: calc(calc(1 / 12) * 100% + 60px);
        @media (max-width: 991px) {
          padding: 24px 0 0;
        }
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &-image {
    .image {
      width: 100%;
      aspect-ratio: 1;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .mission-box {
    padding-left: 48px;
    padding-right: calc(calc(1 / 12) * 100% + 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 24px;
    @media (max-width: 991px) {
      padding: 24px 0 0;
    }
  }
  &.private-dining-sec {
    padding-top: 96px;
    @media (max-width: 991px) {
      padding-top: 20px;
    }
    .mission-box {
      padding-right: 48px;
      padding-left: calc(calc(1 / 12) * 100% + 60px);
      gap: 0;
      @media (max-width: 991px) {
        padding: 24px 0 0;
        gap: 0;
      }
      h2 {
        margin-bottom: 16px;
        @media (max-width: 991px) {
          margin-bottom: 16px;
        }
      }
      .btn-global {
        display: inline-block;
        width: max-content;
        background-color: var(--color-black-op);
        margin-top: 40px;
      }
    }
    .mission-vision-item {
      &:nth-child(even) {
        .mission-box {
          padding-left: 48px;
          padding-right: calc(calc(1 / 12) * 100% + 60px);
          @media (max-width: 991px) {
            padding: 24px 0 0;
          }
        }
      }
    }
  }
}
