.offer {
  margin-bottom: 96px;
  @media (max-width: 991px) {
    margin-bottom: 64px;
  }
  &.other-offers {
    margin-bottom: 0;
  }
  &-title {
    margin-bottom: 96px;
    @media (max-width: 991px) {
      margin-bottom: 64px;
    }
  }
  &-list {
    position: relative;
    @media (max-width: 991px) {
      padding-bottom: 64px;
    }
    .swiper-slide {
      height: auto;
    }
    .swiper-arrows {
      .swiper-button-prev {
        left: -64px;
        @media (max-width: 991px) {
          left: calc(calc(50%) - 40px);
        }
      }
      .swiper-button-next {
        right: -64px;
        @media (max-width: 991px) {
          right: calc(calc(50%) - 40px);
        }
      }
    }
  }
  &-item {
    height: 100%;
    background-color: var(--color-sec-1);
    &:hover {
      .offer-item-image img {
        transform: scale(1.05);
      }
    }
    &-top {
      position: relative;
    }
    &-image {
      width: 100%;
      aspect-ratio: 378 / 250;
      height: 250px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 0.3s ease-in-out;
      }
    }
    &-date {
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: 2;
      background-color: var(--color-white);
      width: 53px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &-content {
      padding: 24px;
      @media (max-width: 991px) {
        padding: 20px;
      }
      h4 {
        margin-bottom: 16px;
      }
      .description {
        margin-bottom: 24px;
      }
    }
  }
}
.offer-detail {
  margin-top: -100px;
  position: relative;
  z-index: 1;
  margin-bottom: 96px;
  @media (max-width: 991px) {
    margin-top: 20px;
    margin-bottom: 64px;
  }
  &-box {
    background-color: var(--color-sec-1);
    padding: 40px;
    @media (max-width: 991px) {
      padding: 40px 20px;
    }
    .date {
      margin-bottom: 16px;
    }
    .the-content {
      p {
        font-size: 15px;
        line-height: 24px;
        color: #fff;
        margin-top: 24px;
        font-family: var(--font-body);
      }
      figure {
        margin: 24px 0;
        aspect-ratio: 1112 / 530;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
