.offer {
  margin-bottom: 96px;
  &-title {
    margin-bottom: 96px;
  }
  &-list {
    position: relative;
    .swiper-slide {
      height: auto;
    }
    .swiper-arrows {
      .swiper-button-prev {
        left: -64px;
      }
      .swiper-button-next {
        right: -64px;
      }
    }
  }
  &-item {
    height: 100%;
    background-color: var(--color-sec-1);

    &-top {
      position: relative;
    }
    &-image {
      width: 100%;
      aspect-ratio: 378 / 250;
      height: 250px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-date {
      position: absolute;
      top: 8px;
      left: 8px;
      z-index: 2;
      background-color: var(--color-white);
      width: 53px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    &-content {
      padding: 24px;
      h4 {
        margin-bottom: 16px;
      }
      .description {
        margin-bottom: 24px;
      }
    }
  }
}
