.reservation {
  margin-top: -100px;
  position: relative;
  z-index: 2;
  @media (max-width: 991px) {
    margin-top: 0px;
  }
  &-wrapper {
    padding: 40px;
    background-color: var(--color-sec-1);
    @media (max-width: 991px) {
      padding: 40px 20px;
    }
  }
  &-top {
    margin-bottom: 64px;
    @media (max-width: 991px) {
      margin-bottom: 40px;
    }
  }
  &-description {
    margin-top: 52px;
    @media (max-width: 991px) {
      margin-top: 40px;
    }
    ul {
      li {
        display: flex;
        gap: 8px;
        @media (max-width: 991px) {
          flex-wrap: wrap;
          gap: 0 8px;
        }
      }
    }
  }
  &-form {
    .form-row {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 0 30px;
      margin-bottom: 20px;
      @media (max-width: 991px) {
        grid-template-columns: 1fr;
        gap: 20px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      @media (min-width: 992px) {
        .w-grid {
          grid-column: 2/4;
        }
      }
      .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        input,
        select {
          height: 42px;
          border: none;
          outline: none;
          background-color: #fff;
          padding: 10px 16px;
          &::placeholder {
            font-size: 15px;
            line-height: 24px;
            // color: rgba(21, 21, 21, 0.6);
            color: var(--color-black);
            font-family: var(--font-body);
          }
        }

        select {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-image: url("../../images/icon/ic_arrow.png");
          background-repeat: no-repeat;
          background-size: 10px;
          background-position: calc(100% - 10px) center;
        }
      }
    }
    .form-note {
      display: flex;
      flex-direction: column;
      gap: 10px;
      textarea {
        border: none;
        outline: none;
        background-color: #fff;
        padding: 10px 16px;
        resize: none;
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 42px;
      margin-top: 30px;
      background: var(--color-black);
      transition: all 0.3s ease-in-out;
      &:hover {
        background: var(--color-sec-2);
      }
    }
  }
  &-note {
    margin-top: 30px;
    ul {
      list-style-type: disc;
      padding-left: 20px;
      color: #fff;
      display: flex;
      flex-direction: column;
      gap: 18px;
    }
    p.see-you-soon {
      margin-top: 18px;
    }
    .logo {
      margin-top: 64px;
      @media (max-width: 991px) {
        margin-top: 40px;
      }
    }
  }
  .dropdown-custom-btn {
    height: 42px;
    background-color: #fff;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dropdown-custom-menu {
    position: absolute;
    background-color: var(--color-black);
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 3;
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    opacity: 0;
    visibility: hidden;

    &.dropdown--active {
      opacity: 1;
      visibility: visible;
    }
  }
  .dropdown-custom-item {
    cursor: pointer;
  }
  .dropdown-custom-text {
  }
}
