.team {
  margin-bottom: 96px;
  &-content {
    background-color: var(--color-sec-1);
    padding: 96px 0px 160px;
    &-wrapper {
      padding: 0 48px;
      @media (max-width: 991px) {
        padding: 0 24px;
      }
    }
  }
  &-title {
    margin-bottom: 18px;
  }
  &-description {
    .br {
      height: 18px;
    }
  }
  &-image {
    margin-top: -100px;
    .image {
      width: 100%;
      aspect-ratio: 1192 / 570;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
