:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #3a3a3a;
}
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
.color-gray {
  color: var(--color-gray);
}
