:root {
  --color-black: #151515;
  --color-white: #ffffff;
  --color-gray: #454545;
  --color-black-op: #282828;
  --font-heading: "Animal Chariot", sans-serif;
  --font-body: "Spectral", sans-serif;
  --color-sec-2: #1c1c1c;
  --color-sec-1: #303030;
}
.heading-font {
  font-family: var(--font-heading);
}
.body-font {
  font-family: var(--font-body);
}
.h1-font {
  font-family: var(--font-heading);
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
}
.h2-font {
  font-family: var(--font-heading);
  font-size: 40px;
  line-height: 56px;
  font-weight: 400;
}
.h3-font {
  font-family: var(--font-body);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.b1-font {
  font-family: var(--font-body);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}
.btn-font {
  font-family: var(--font-body);
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}
.btn-2-font {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-family: var(--font-body);
}
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
.color-gray {
  color: var(--color-gray);
}
.container-max-w {
  max-width: 1440px;
  padding: 0 125px;
  margin: 0 auto;
  @media (max-width: 991px) {
    padding: 0 20px;
  }
}
