<div class="header-cta">
  <a
    href=""
    class="header-cta-item call-now d-flex justify-content-center align-items-center"
  >
    <img src="./assets/images/icon/ic_phone.svg" alt="" />
    <div class="cta-text btn-font color-white">Call Now</div>
  </a>
  <a
    href=""
    class="header-cta-item book-now d-flex justify-content-center align-items-center"
  >
    <img src="./assets/images/icon/ic_calendar.svg" alt="" />
    <div class="cta-text btn-font color-white">Book Now</div>
  </a>
</div>
