<div class="footer-container">
  <div class="container-max-w">
    <div class="footer-top">
      <div class="title-text-line d-flex align-items-center">
        <div class="title-text h2-font color-white">Contact</div>
        <div class="title-line"></div>
      </div>
    </div>
    <div class="footer-main">
      <div class="footer-main-left">
        <div class="footer-main-title btn-font color-white">Location</div>
        <div class="footer-main-list">
          <ul>
            <li>
              <div class="address">
                <div class="footer-main-text btn-font color-white">
                  Address:
                </div>
                <div class="footer-main-content b1-font color-white">
                  70 Truong Dinh, Ben Thanh, D.1, HCMC
                </div>
              </div>
            </li>
            <li>
              <a href="tel:+0898 999 454" class="hotline">
                <div class="footer-main-text btn-font color-white">
                  Hotline:
                </div>
                <div class="footer-main-content b1-font color-white hover-line">
                  0898 999 454
                </div>
              </a>
            </li>
            <li>
              <a href="mailto:info@ceeseatery.com" class="email">
                <div class="footer-main-text btn-font color-white">Email:</div>
                <div class="footer-main-content b1-font color-white hover-line">
                  info@ceeseatery.com
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-main-right">
        <div class="footer-main-title btn-font color-white">Opening hours</div>
        <div class="footer-main-list">
          <ul>
            <li>
              <div class="dinner">
                <div class="footer-main-text btn-font color-white">Dinner:</div>
                <div class="footer-main-content b1-font color-white">
                  5PM - 11PM (Everyday)
                </div>
              </div>
            </li>
            <li>
              <div class="brunch">
                <div class="footer-main-text btn-font color-white">Brunch:</div>
                <div class="footer-main-content b1-font color-white">
                  11AM - 2PM (Saturday – Sunday)
                </div>
              </div>
            </li>
            <li>
              <div class="lunch">
                <div class="footer-main-text btn-font color-white">Lunch:</div>
                <div class="footer-main-content b1-font color-white">
                  11AM - 2PM (Everyday)
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-copy-right btn-font color-white">
        © 2026 Cee's Eatery
      </div>
    </div>
  </div>
</div>
