<div class="header-container">
  <div class="header-hambuger">
    <div class="icon" id="btn-hambuger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="header-left">
    <a href="./index.html" class="header-logo">
      <img src="./assets/images/icon/logo_white.svg" alt="" />
    </a>
  </div>
  <div class="header-main d-lg-flex align-items-center d-none">
    <div class="header-menu">
      <ul>
        <li>
          <a href="./index.html" class="b1-font color-white hover-line">Home</a>
        </li>
        <li>
          <a href="./reservation.html" class="b1-font color-white hover-line"
            >Reservation</a
          >
        </li>
        <li class="menu-item-has-children">
          <a href="./menu" class="b1-font color-white hover-line"
            >Menu
            <div class="icon">
              <img src="./assets/images/icon/ic_arrow.svg" alt="" />
            </div>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="" class="b1-font color-white hover-line">Food Menu</a>
            </li>
            <li>
              <a href="" class="b1-font color-white hover-line">Drink Menu</a>
            </li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="./private-dining.html" class="b1-font color-white hover-line"
            >Private Dining
            <div class="icon">
              <img src="./assets/images/icon/ic_arrow.svg" alt="" />
            </div>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="" class="b1-font color-white hover-line">Private R1</a>
            </li>
            <li>
              <a href="" class="b1-font color-white hover-line">Private R2</a>
            </li>
            <li>
              <a href="" class="b1-font color-white hover-line"
                >Restaurant block out</a
              >
            </li>
          </ul>
        </li>
        <li class="menu-item-has-children">
          <a href="" class="b1-font color-white hover-line"
            >More
            <div class="icon">
              <img src="./assets/images/icon/ic_arrow.svg" alt="" />
            </div>
          </a>
          <ul class="sub-menu">
            <li>
              <a href="./about.html" class="b1-font color-white hover-line"
                >About Us</a
              >
            </li>
            <li>
              <a href="" class="b1-font color-white hover-line">Career</a>
            </li>
            <li>
              <a href="" class="b1-font color-white hover-line"
                >Customer Information</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-right">
    <div class="header-cta">
      <a
        href=""
        class="header-cta-item call-now d-flex justify-content-center align-items-center"
      >
        <img src="./assets/images/icon/ic_phone.svg" alt="" />
        <div class="cta-text btn-font color-white">Call Now</div>
      </a>
      <a
        href=""
        class="header-cta-item book-now d-flex justify-content-center align-items-center"
      >
        <img src="./assets/images/icon/ic_calendar.svg" alt="" />
        <div class="cta-text btn-font color-white">Book Now</div>
      </a>
    </div>
  </div>
</div>
<div class="header-menu-mobile">
  <ul>
    <li>
      <a href="./index.html" class="b1-font color-white hover-line">Home</a>
    </li>
    <li>
      <a href="" class="b1-font color-white hover-line">Reservation</a>
    </li>
    <li class="menu-item-has-children">
      <a href="#" class="b1-font color-white hover-line"
        >Menu
        <div class="icon">
          <img src="./assets/images/icon/ic_arrow.svg" alt="" />
        </div>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="" class="b1-font color-white hover-line">Food Menu</a>
        </li>
        <li>
          <a href="" class="b1-font color-white hover-line">Drink Menu</a>
        </li>
      </ul>
    </li>
    <li class="menu-item-has-children">
      <a href="#" class="b1-font color-white hover-line"
        >Private Dining
        <div class="icon">
          <img src="./assets/images/icon/ic_arrow.svg" alt="" />
        </div>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="" class="b1-font color-white hover-line">Private R1</a>
        </li>
        <li>
          <a href="" class="b1-font color-white hover-line">Private R2</a>
        </li>
        <li>
          <a href="" class="b1-font color-white hover-line"
            >Restaurant block out</a
          >
        </li>
      </ul>
    </li>
    <li class="menu-item-has-children">
      <a href="#" class="b1-font color-white hover-line"
        >More
        <div class="icon">
          <img src="./assets/images/icon/ic_arrow.svg" alt="" />
        </div>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="./about.html" class="b1-font color-white hover-line"
            >About Us</a
          >
        </li>
        <li>
          <a href="" class="b1-font color-white hover-line">Career</a>
        </li>
        <li>
          <a href="" class="b1-font color-white hover-line"
            >Customer Information</a
          >
        </li>
      </ul>
    </li>
  </ul>
  <div class="menu-mobile-overlay"></div>
</div>
