:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray: #3a3a3a;
  --color-black-op: #121212;
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.color-gray {
  color: var(--color-gray);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: var(--color-black-op);
}