:root {
  --color-black: #151515;
  --color-white: #ffffff;
  --color-gray: #454545;
  --color-black-op: #282828;
  --font-heading: "Animal Chariot", sans-serif;
  --font-body: "Spectral", sans-serif;
  --color-sec-2: #1c1c1c;
  --color-sec-1: #303030;
}

.heading-font {
  font-family: var(--font-heading);
}

.body-font {
  font-family: var(--font-body);
}

.h1-font {
  font-family: var(--font-heading);
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
}

.h2-font {
  font-family: var(--font-heading);
  font-size: 40px;
  line-height: 56px;
  font-weight: 400;
}

.h3-font {
  font-family: var(--font-body);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.b1-font {
  font-family: var(--font-body);
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

.btn-font {
  font-family: var(--font-body);
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
}

.btn-2-font {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-family: var(--font-body);
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.color-gray {
  color: var(--color-gray);
}

.container-max-w {
  max-width: 1440px;
  padding: 0 125px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .container-max-w {
    padding: 0 15px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}

button:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: grayscale !important;
  background-color: var(--color-black);
  font-family: var(--font-body);
}

@media (min-width: 992px) {
  .hover-line {
    display: inline-block;
    position: relative;
  }
  .hover-line:hover {
    color: var(--color-white);
  }
  .hover-line:hover::before {
    width: 100%;
  }
  .hover-line::before {
    content: "";
    position: absolute;
    left: 1px;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color-white);
    transition: all 0.3s ease-in-out;
  }
}
.title-text-line {
  gap: 64px;
}
.title-text-line .title-line {
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
}
.title-text-line .title-text {
  white-space: nowrap;
}

.btn-global {
  padding: 8px 16px;
  background-color: var(--color-black);
  transition: all 0.3s ease-in-out;
}
.btn-global:hover {
  background-color: var(--color-black-op);
  color: var(--color-white);
}
.btn-global.btn-secondary:hover {
  color: var(--color-black);
  background-color: var(--color-black-op);
}

.btn-arrow {
  width: 34px;
  height: 34px;
  background-color: var(--color-black-op);
  margin: 0;
  top: 50%;
  transform: translateY(-24px);
}
.btn-arrow::after {
  content: unset;
  font-size: 0;
}

#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.header-container {
  background-color: var(--color-sec-1);
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 72px;
}
.header-hambuger {
  display: none;
}
@media (max-width: 991px) {
  .header-hambuger {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }
}
.header-hambuger .icon {
  width: 19px;
  height: 10px;
  position: relative;
}
.header-hambuger .icon::before {
  content: "";
  position: absolute;
  inset: -10px;
}
.header-hambuger .icon span {
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  left: 0;
  border-radius: 2px;
}
.header-hambuger .icon span:nth-child(1) {
  top: 0;
}
.header-hambuger .icon span:nth-child(2) {
  top: 4.5px;
}
.header-hambuger .icon span:nth-child(3) {
  top: 9px;
}
.header-left {
  display: flex;
  align-items: center;
  padding-left: 125px;
}
@media (max-width: 991px) {
  .header-left {
    padding-left: 0;
  }
}
.header-logo {
  display: inline-block;
  width: 100px;
  height: auto;
}
@media (max-width: 991px) {
  .header-main {
    display: none;
  }
}
.header-menu ul {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header-menu ul li.menu-item-has-children {
  position: relative;
}
.header-menu ul li.menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
.header-menu ul li.menu-item-has-children > a {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}
.header-menu ul li.menu-item-has-children > a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: -16px;
  width: calc(100% + 32px);
  height: 24px;
  background-color: transparent;
}
.header-menu ul li.menu-item-has-children > a.hover-line:hover::before {
  width: calc(100% - 17px);
}
.header-menu ul li.menu-item-has-children > .sub-menu {
  position: absolute;
  top: 100%;
  left: -16px;
  background-color: var(--color-sec-1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin-top: 24px;
  transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
}
.header-menu ul li.menu-item-has-children > .sub-menu li a {
  white-space: nowrap;
}
.header-menu ul li a:hover {
  color: var(--color-white);
}
.header-menu-mobile {
  display: none;
}
@media (max-width: 991px) {
  .header-menu-mobile {
    display: grid;
    grid-template-columns: 8fr 4fr;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }
  .header-menu-mobile.active {
    opacity: 1;
    visibility: visible;
  }
  .header-menu-mobile.active ul {
    transform: translateX(0);
  }
  .header-menu-mobile ul {
    background-color: var(--color-sec-1);
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .header-menu-mobile ul li.menu-item-has-children > a {
    justify-content: space-between;
    pointer-events: none;
  }
  .header-menu-mobile ul li.menu-item-has-children .icon {
    width: 51px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--color-white);
    pointer-events: auto;
  }
  .header-menu-mobile ul li.menu-item-has-children .icon img {
    transform: rotate(-90deg);
    transition: transform 0.3s ease-in-out;
  }
  .header-menu-mobile ul li.menu-item-has-children > .sub-menu {
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
  }
  .header-menu-mobile ul li.menu-item-has-children.active > a {
    background-color: var(--color-black);
  }
  .header-menu-mobile ul li.menu-item-has-children.active .sub-menu li {
    background-color: var(--color-black);
  }
  .header-menu-mobile ul li.menu-item-has-children.active .icon img {
    transform: rotate(0);
  }
  .header-menu-mobile ul li a {
    border-bottom: 1px solid var(--color-white);
    display: flex;
    align-items: center;
    padding-left: 13px;
    min-height: 51px;
  }
  .header-menu-mobile ul li a:hover {
    color: var(--color-white);
  }
}
.header-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
@media (max-width: 991px) {
  .header-right {
    display: none;
  }
}
.header-cta {
  display: grid;
  grid-template-columns: repeat(2, minmax(130px, 1fr));
  height: 100%;
}
.header-cta-item {
  gap: 5px;
}
.header-cta-item.call-now {
  background-color: var(--color-sec-2);
}
.header-cta-item.book-now {
  background-color: var(--color-sec-1);
}

#cta-mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
}
@media (max-width: 991px) {
  #cta-mobile {
    display: block;
  }
}
#cta-mobile .header-cta-item {
  padding: 8px 0;
}

.footer-container {
  padding-bottom: 24px;
  padding-top: 96px;
}
.footer-top {
  margin-bottom: 40px;
}
.footer-main {
  display: grid;
  grid-template-columns: 7fr 5fr;
  gap: 40px 30px;
}
@media (max-width: 991px) {
  .footer-main {
    grid-template-columns: 1fr;
  }
}
.footer-main-title {
  margin-bottom: 4px;
}
.footer-main-list ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.footer-main-list ul li > * {
  display: flex;
  gap: 4px;
}

.banner-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.banner-image {
  width: 100%;
  height: 100%;
}
.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-video {
  width: 100%;
  height: 100%;
}
.banner-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro {
  margin-top: -100px;
  position: relative;
  z-index: 2;
  margin-bottom: 96px;
}
.intro-content {
  background-color: var(--color-sec-1);
  padding: 64px 48px;
}
@media (max-width: 991px) {
  .intro-content {
    padding: 48px 24px 24px;
  }
}
.intro-content .br {
  height: 24px;
}
.intro-title {
  margin-bottom: 18px;
}
.intro-image {
  width: 100%;
  aspect-ratio: 1192/570;
}
.intro-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro.two-description {
  margin-top: 0;
  margin-bottom: 96px;
}
.intro.two-description .intro-content {
  padding: 96px 48px 30px;
  background-color: transparent;
}
@media (max-width: 991px) {
  .intro.two-description .intro-content {
    padding: 30px 32px;
  }
}
.intro.two-description .intro-image {
  margin-bottom: 30px;
}
.intro.two-column .intro-container {
  padding: 30px;
  background-color: var(--color-sec-1);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.intro.two-column .intro-image {
  width: 100%;
  aspect-ratio: 550/440;
}
.intro.two-column .intro-content {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro.two-column .intro-button {
  margin-top: 30px;
}

.mission-vision-item {
  margin-bottom: 96px;
}
.mission-vision-item:nth-child(even) .mission-box {
  padding-right: 48px;
  padding-left: calc(8.3333333333% + 60px);
}
@media (max-width: 991px) {
  .mission-vision-item:nth-child(even) .mission-box {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }
}
.mission-vision-item:last-child {
  margin-bottom: 0;
}
.mission-vision-image .image {
  width: 100%;
  aspect-ratio: 1;
}
.mission-vision-image .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mission-vision .mission-box {
  padding-left: 48px;
  padding-right: calc(8.3333333333% + 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 24px;
}
@media (max-width: 991px) {
  .mission-vision .mission-box {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }
}
.mission-vision.private-dining-sec {
  padding-top: 96px;
}
.mission-vision.private-dining-sec .mission-box {
  padding-right: 48px;
  padding-left: calc(8.3333333333% + 60px);
}
@media (max-width: 991px) {
  .mission-vision.private-dining-sec .mission-box {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }
}
.mission-vision.private-dining-sec .mission-box .btn-global {
  display: inline-block;
  width: max-content;
  background-color: var(--color-black-op);
  margin-top: 40px;
}
.mission-vision.private-dining-sec .mission-vision-item:nth-child(even) .mission-box {
  padding-left: 48px;
  padding-right: calc(8.3333333333% + 60px);
}
@media (max-width: 991px) {
  .mission-vision.private-dining-sec .mission-vision-item:nth-child(even) .mission-box {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
  }
}

.team-content {
  background-color: var(--color-sec-1);
  padding: 96px 0px 160px;
}
.team-content-wrapper {
  padding: 0 48px;
}
@media (max-width: 991px) {
  .team-content-wrapper {
    padding: 0 24px;
  }
}
.team-title {
  margin-bottom: 18px;
}
.team-description .br {
  height: 18px;
}
.team-image {
  margin-top: -100px;
}
.team-image .image {
  width: 100%;
  aspect-ratio: 1192/570;
}
.team-image .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.offer {
  margin-bottom: 96px;
}
.offer.other-offers {
  margin-bottom: 0;
}
.offer-title {
  margin-bottom: 96px;
}
.offer-list {
  position: relative;
}
.offer-list .swiper-slide {
  height: auto;
}
.offer-list .swiper-arrows .swiper-button-prev {
  left: -64px;
}
.offer-list .swiper-arrows .swiper-button-next {
  right: -64px;
}
.offer-item {
  height: 100%;
  background-color: var(--color-sec-1);
}
.offer-item-top {
  position: relative;
}
.offer-item-image {
  width: 100%;
  aspect-ratio: 378/250;
  height: 250px;
}
.offer-item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.offer-item-date {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
  background-color: var(--color-white);
  width: 53px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.offer-item-content {
  padding: 24px;
}
.offer-item-content h4 {
  margin-bottom: 16px;
}
.offer-item-content .description {
  margin-bottom: 24px;
}

.offer-detail {
  margin-top: -100px;
  position: relative;
  z-index: 1;
  margin-bottom: 96px;
}
.offer-detail-box {
  background-color: var(--color-sec-1);
  padding: 40px;
}
.offer-detail-box .date {
  margin-bottom: 16px;
}
.offer-detail-box .the-content p {
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  margin-top: 24px;
  font-family: var(--font-body);
}
.offer-detail-box .the-content figure {
  margin: 24px 0;
  aspect-ratio: 1112/530;
  width: 100%;
}
.offer-detail-box .the-content figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.event {
  background-color: var(--color-black-op);
  padding: 96px 0;
}
.event-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.event-title {
  margin-bottom: 32px;
}
.event-image {
  width: 100%;
  aspect-ratio: 580/620;
}
.event-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.event-box {
  position: relative;
}
.event-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  background-color: rgba(21, 21, 21, 0.95);
}
.event-description {
  margin-bottom: 32px;
}
.event-btn-group {
  display: flex;
  align-items: center;
  gap: 16px;
}
.event-btn-group .read-more {
  background-color: var(--color-black-op);
}

.reservation {
  margin-top: -100px;
  position: relative;
  z-index: 2;
}
.reservation-wrapper {
  padding: 40px;
  background-color: var(--color-sec-1);
}
.reservation-top {
  margin-bottom: 64px;
}
.reservation-description {
  margin-top: 52px;
}
.reservation-description ul li {
  display: flex;
  gap: 8px;
}
.reservation-form .form-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0 30px;
  margin-bottom: 20px;
}
.reservation-form .form-row:last-child {
  margin-bottom: 0;
}
.reservation-form .form-row .w-grid {
  grid-column: 2/4;
}
.reservation-form .form-row .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
.reservation-form .form-row .input-wrapper input,
.reservation-form .form-row .input-wrapper select {
  height: 42px;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 10px 16px;
}
.reservation-form .form-row .input-wrapper input::placeholder,
.reservation-form .form-row .input-wrapper select::placeholder {
  font-size: 15px;
  line-height: 24px;
  color: rgba(21, 21, 21, 0.6);
  font-family: var(--font-body);
}
.reservation-form .form-row .input-wrapper select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("../../images/icon/ic_arrow.png");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: calc(100% - 10px) center;
}
.reservation-form .form-note {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.reservation-form .form-note textarea {
  border: none;
  outline: none;
  background-color: #fff;
  padding: 10px 16px;
  resize: none;
}
.reservation-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 42px;
  margin-top: 30px;
  background: var(--color-black);
  transition: all 0.3s ease-in-out;
}
.reservation-form button:hover {
  background: var(--color-sec-2);
}
.reservation-note {
  margin-top: 30px;
}
.reservation-note ul {
  list-style-type: disc;
  padding-left: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.reservation-note p.see-you-soon {
  margin-top: 18px;
}
.reservation-note .logo {
  margin-top: 64px;
}

.menu {
  padding-top: 96px;
}
.menu-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 96px 30px;
}
.menu-title {
  margin-bottom: 32px;
}